.cover__link{
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 0;
  width: 100%;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.cover__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: 2;
  transition: 0.5s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 560px) {
  .cover__link {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}