.cover__link{
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 560px) {
  .cover__link {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}