
.photo-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media screen and (max-width: 769px) {
  .photo-grid {
    gap: 16px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 620px) {
  .photo-grid {
    gap: 12px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
