
.photo-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}
@media screen and (max-width: 959px) {
  .photo-grid {
    gap: 16px;
  }
}
@media screen and (max-width: 620px) {
  .photo-grid {
    gap: 12px;
    padding: 0 16px;
  }
}
