
.main {
  box-sizing: border-box;
  max-width: min(1184px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 92px;
}
@media screen and (max-width: 1279px) {
  .main {
    /* max-width: 100%; */
    gap: 88px;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    /* max-width: 100%; */
    gap: 88px;
  }
}
@media screen and (max-width: 620px) {
  .main {
    gap: 64px;
  }
}
