
.cover__subtitle_mobile {
  display: none;
}
@media screen and (max-width: 559px) {
  .cover__subtitle_mobile {
    display: inline;
    font-size: 1em;
  }
}
@media screen and (max-width: 470px) {
  .cover__subtitle_mobile {
    width: 288px;
    font-size: 0.875em;
    line-height: 1.142;
  }
}
