
.lead__subtitle {
  margin: 0;
  padding: 0 0 64px 0;
  box-sizing: border-box;
  text-align: center;
  min-height: 72px;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
}
@media screen and (max-width: 1040px) {
  .lead__subtitle {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 620px) {
  .lead__subtitle {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    font-size: 1.6em;
    line-height: 1.25;
  }
}
@media screen and (max-width: 520px) {
  .lead__subtitle {
    font-size: 1em;
    line-height: 1.25;
  }
}
