
.cover {
  width: 1184px;
  position: relative;
  padding: 245px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    padding-top: 195px;
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 560px) {
  .cover {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: 2;
  transition: 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}
