
.page__lead {
  margin-bottom: 92px;
}
@media screen and (max-width: 959px) {
  .page__lead {
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 620px) {
  .page__lead {
    margin-bottom: 64px;
  }
}
